body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: auto;
    background-color: rgb(39, 86, 124);
}
header h1 {
    font-weight: bold;
    font-size: 26px;
    color: rgb(155, 187, 207);
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: rgb(155, 187, 207)
    ;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    background-image: url(../images/hero.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero h2 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 26px;
    margin: 0;
    color: rgb(155, 187, 207);
}
